body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('../images/images (22).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
}

.login-container {
    width: 250px;
    height: 240px; /* تم تعديل الارتفاع ليناسب المحتوى */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links-container {
    margin-top: 10px;
    font-size: 0.9em;
}

.login-container p {
    margin-top: 15px;
    font-size: 0.9em;
}